<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/index.css}" rel="stylesheet"/>
</head>
<body style="background-color:powderblue">
        <h1 id = "header" >SpringBasicExercise</h1>
    <p>This is a paragraf</p>
        <p style="color: darkred" >This is <mark>another</mark> paragraf</p>
        <p style="font-size: 200%" >This is large!<sub>That was large...</sub></p>
    <a href="https://www.w3schools.com/html/default.asp">Tutorials about HTML</a>
    <br> <br>
        <img src="https://i.imgur.com/pJzIIsQg.jpg" alt="Hooray Man Laptop" id = "catPicture">
</body>