<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link th:href="@{/inputExercise.css}" rel="stylesheet"/>
    </head>
    <body>
        <!-- region Input -->
        <div id="input">
            <form action="/inputExercise", method="POST">
                <label class="pet">
                    Pet Name:
                    <div class="petDivInput" ><input class="petInput" name="petName" type="text" placeholder="Insert name here."></div>
                </label>
                <br>
                <label class="pet">
                    Pet Species:
                    <div class="petDivInput" ><input class="petInput" name="petSpecies" type="text" placeholder="Insert Species here."></div>
                </label>
                <br>
                <label class="pet">
                    Pet Age:
                    <div class="petDivInput" ><input class="petInput" name="petAge" type="number" placeholder="Insert Age here."></div>
                </label>
                <br>
                <label class="pet">
                    Pet Birthdate:
                    <div class="petDivInput" ><input class="petInput" name="petBirthdate" type="date"></div>
                </label>
                <div id="submitInput">
                    <input type="submit">
                </div>
            </form>

        </div>
        <!-- endregion -->
    </body>
</html>