<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Titlu</title>
    <link th:href="@{/petList.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Pet List</h1>
<!--    <span th:text="${PePe.name}"/>-->
<!--    <span th:text="${PePe.species}"/>-->
<!--    <span th:text="${PePe.age}" />-->
<!--    <span th:text="${PePe.birthdate}" />-->
    <ul th:each="pet : ${PePe}">
        <li th:text="${pet.name}"></li>
    </ul>
    <br>
    <div>
        <form action="/petList" method="post">
            <button>Back</button>
        </form>
    </div>
</body>
</html>