<!--
    This file is part of "Things we dislike", a series for practicing java Spring Web while having fun.
    It will contain a display of Model's attributes, adding information/new attributes as well as, perhaps, a DB integration
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Things We Dislike</title>
    <link th:href="@{/styles/thingsWeDislike.css}" rel="stylesheet"/>

    <!-- Add javascript code for a sticky header. Jquery is a requirement/dependency needed for it to work -->
    <script type="text/javascript" th:src="@{js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/stickyHeader.js}"></script>
</head>

<body>
    <!--
        A header that sticks to the top of your screen as you scroll
        Requires some simple javascript, linked in head (stickyHeader.js and jquery, which is required for that js to work)
     -->
    <script>
        Sticky();
    </script>

    <div id="StickyHeader">
        <div id="header">
            <a href="">
                <div class="Title">
                    <span style="font-size:80px;line-height:70px">Headline text</span></br><span style="line-height:50px;">Welcome to this [redacted]</span>
                </div>
            </a>
            <!--Navigation options
                Each menu option has a specific width and height, defined explicitly
                Navigation Sets are groups of menu options
                Menu options also contain a link but are styled to not be underlined etc
            -->
            <div id="NavigationMenu">
                <div class="NavigationSet">
                    <div style="height:35px;width:15px;float:left;"></div> <!-- Offsets the top set by 15px to the right -->
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;">Option 1</a>
                    </div>
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;">Option 2</a>
                    </div>
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;">Option 3</a>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <br>
                <div class="NavigationSet">
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;"> Option 3 </a>
                    </div>
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;"> Option 4 </a>
                    </div>
                    <div class="menuoption" style="height:35px;width:83px;">
                        <a href="" style="text-decoration:none; color:inherit;"> Option 5 </a>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <!--End of the navigation menu-->
        </div>
        <div style="clear:both"></div>
    </div>
    <!-- End of the sticky header -->

    <div id="content">
        <a href="/inputExercise"> checkout Spring Exercise 2</a>
    </div>
    <div id="footer"> Subscribe and remember to hit that notification bell</div>

</body>
</html>