/*
    handles person, editPerson, car and editCar html files
 */

html, body
{
    /* By default, body/html have a very small margin which might mess things up */
    margin: 0;
}
body    /* Yes, you can define styles for a given element multiple times */
{
    background-color: #404040;
    background-image:url(/img/background.png);
    background-size: auto;
    color: white;
}

/*
    Header and the sticky header styling
 */

#header {
    background-color: #333333;
    background-image:url(/img/background.png);
    width: 100%;
    height: 121px;
    color: #aba883;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Title
{
    margin-left:10%;
    color: #aba883;
    font-size:25px;
    font-weight:bold;
    float:left;
    text-align:left;
}
#NavigationMenu
{
    margin-left:5%;
    float:left;
    margin-top:28px;
    display:inline;
}


.NavigationSet
{
    float:left;
    display:inline-block;
}
.menuoption
{
    float:left;
    font-color:#aba883;
    font-size:20px;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
}

a
{
    color:#333333;
}

.menuoption:hover
{
    color:#aba883;
    cursor: pointer;
    font-size:22px;
}
.menuoption:link
{
    color:#aba883;
    text-decoration: none;
}
.menuoption:active
{
    color:#aba883;
    text-decoration: none;
}

.NavigationOption
{
    margin-left:5%;
    margin-top:3px;
    margin-right:10px;
    margin-bottom:3px;
    font-color:#666666;
    font-size:17px;
    font-weight:bold;
    padding:5px;
    padding-left:20px;
    padding-bottom:2px;
    background-color:#DDDDDD;
    height:35px;
}
.NavigationOption:first-child
{
    margin-top:0px;
}
.NavigationOption:hover
{
    background-color:#0896fe;
    cursor:pointer;
}

.stickyLogo /* Used by stickyHeader.js */
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

/*
    Content styling
 */

#content {
    width: 80%;
    margin: 50px 10% 40px;
    padding: 30px 20px;

    height: auto;
    /* text-align: justify
       Content spaces out such that as many blocks fit onto one line as possible and
       the first word on that line is along the left edge and the last word is along the right edge. */
    text-align: center;

    background-color: #161718;
    opacity: 0.8;
    border: solid black 1px;
    box-shadow:  10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;

    color: white;
}

#exercises{
    color: white;
    text-align: center;
}

#listOfThings{
    color: white;
    text-align: center;
}

#addThings{
    color: white;
    text-align: center;
}

/*
    Footer styling
 */
#footer {
    width: 100%;
    margin-top: 20px;
    height: 40px;

    text-align: center;
    font-size: small;

    /*  Stick the footer to the bottom of the page  */
    position : absolute;
    bottom : 0;
}